@import 'imports/_google-sans' ,'imports/_variables' , 'imports/_reset' , 'imports/_mixins' , 'imports/_keyframes';

.intro{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    background: var(--negro);

    @include flex( row , nowrap , center , center );
    pointer-events: none;
    animation: desaparecer 1s ease both 4s ;

    &__img{
        max-width: 300px;
        animation: aparecer1 3s ease 1 both 1s;
    }
}

